<div class="row">
  <mat-card class="card" *ngFor="let company of companies">
    <mat-card-header>
      <div mat-card-avatar class="image"><!--TODO: Add placeholder--></div>
      <mat-card-title>{{ company.CompanyName }}</mat-card-title>
      <mat-card-subtitle>
        <ng-template [ngIf]="company.webSite">
          <p>Website: <a href="{{ company.webSite }}" target="_blank">{{ company.webSite }}</a></p>
        </ng-template>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>Company id:</b> {{ company.CompanyID }} <br>
        <b>Account id:</b> {{ company.AccountId }}
      </p>

      <b>Address</b>
      <address>
        <p>{{ company.StreetAddress }}</p>

        <ng-template [ngIf]="company.StreetAddress2">
          <p>{{ company.StreetAddress2 }}</p>
        </ng-template>

        <p>{{ company.City }} {{ company.State }}, {{ company.ZipCode }}</p>
        <p>{{ company.Country }}</p>
      </address>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
