<div class="card-stack">
  <mat-card class="card" *ngFor="let company of companies">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ company.CompanyName }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        Company ID: {{ company.CompanyID }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <b>Account ID:</b> {{ company.AccountId }}
      </p>

      <b>Address</b>
      <address>
        <p>{{ company.StreetAddress }}</p>
        <ng-template [ngIf]="company.StreetAddress2">
          <p>{{ company.StreetAddress2 }}</p>
        </ng-template>
        <p>{{ company.City }}, {{ company.State }}, {{ company.ZipCode }}, {{ company.Country }}</p>
      </address>
      <p>
        <b>Website:</b> <a href="{{ company.webSite }}" target="_blank">{{ company.webSite }}</a>
      </p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end">
      <button mat-button color="primary">EDIT</button>
    </mat-card-actions>
  </mat-card>
</div>
