<h2 mat-dialog-title>
  Create new company
</h2> <!--TODO: Set title based on mode-->

<form [formGroup]="companyForm" novalidate>
  <mat-dialog-content>
    <div class="company-form">
      <mat-form-field>
        <input matInput placeholder="Company Name" type="text" autocomplete="off" formControlName="companyName"
               [(ngModel)]="company.CompanyName"/>
        <mat-error *ngIf="companyForm.invalid">Please set a company name</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Street Address" type="text" autocomplete="off" formControlName="streetAddress"
               [(ngModel)]="company.StreetAddress"/>
        <mat-error *ngIf="companyForm.invalid">Please add your company street address</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Street Address 2" type="text" autocomplete="off" formControlName="streetAddress2"
               [(ngModel)]="company.StreetAddress2"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="City" type="text" autocomplete="off" formControlName="city"
               [(ngModel)]="company.City"/>
        <mat-error *ngIf="companyForm.invalid">Please add a city</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="State" type="text" autocomplete="off" formControlName="state"
               [(ngModel)]="company.State"/>
        <mat-error *ngIf="companyForm.invalid">Please add your city state</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="country" [(ngModel)]="company.Country">
          <mat-option *ngFor="let country of this.countriesData" [value]="country.iso">
            {{ country.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="companyForm.invalid">Country is required please select one</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Zip Code" type="text" autocomplete="off" formControlName="zipCode"
               [(ngModel)]="company.ZipCode"/>
        <mat-error *ngIf="companyForm.invalid">Pleas add the zip code</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Web Site" type="text" autocomplete="off" formControlName="webSite"
               [(ngModel)]="company.webSite"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Status" type="text" autocomplete="off" formControlName="status"
               [(ngModel)]="company.status"/>
        <mat-error *ngIf="companyForm.invalid">Status is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Type" type="text" autocomplete="off" formControlName="type"
               [(ngModel)]="company.Type"/>
        <mat-error *ngIf="companyForm.invalid">Type required</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCEL</button>

    <button mat-raised-button color="primary" (click)="close()" [disabled]="!companyForm.valid">CREATE</button>
    <!--TODO: Set text based on mode-->
  </mat-dialog-actions>
</form>
