<div class="accordion-group">
  <mat-accordion>
    <mat-expansion-panel class="panel-stack" *ngFor="let contact of contacts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>{{ contact.firstname }} {{ contact.LastName }}</h3>
        </mat-panel-title>

        <mat-panel-description>
          <h4>{{ contact.title }}</h4>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="panel-body">
        <div class="group">
          <h3>Birthday:</h3>
          <p>{{ contact.birthday }}</p>
        </div>

        <div class="group">
          <h3>Address:</h3>
          <address>
            {{ contact.ContactAddress }}
            {{ contact.Contactaddress2 }}
            {{ contact.ContactCity }}, {{ contact.ContactState }}, {{ contact.ContactZip }}
          </address>
        </div>

        <div class="group">
          <h3>Phone:</h3>
          <a href="tel:{{ contact.PrimaryPhone }}">{{ contact.PrimaryPhone }}</a>
        </div>

        <div class="group">
          <h3>Mobile Phone:</h3>
          <a href="tel:{{ contact.MobilePhone }}">{{ contact.MobilePhone }}</a>
        </div>

        <div class="group">
          <h3>Home Phone:</h3>
          <a href="tel:{{ contact.HomePhone }}">{{ contact.HomePhone }}</a>
        </div>

        <div class="group">
          <h3>Fax:</h3>
          <p>{{ contact.fax }}</p>
        </div>

        <div class="group">
          <h3>E-mail:</h3>
          <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
          <a href="mailto:{{ contact.email2 }}">{{ contact.email2 }}</a>
        </div>
      </div>
      <mat-action-row>
        <!--<button mat-button color="warn" (click)="removeContact(contact)">DELETE</button>-->
        <button mat-button color="primary" (click)="editContact(contact, company)">EDIT</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

