@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~normalize.css/normalize.css';
//@import '~foundation/scss/foundation/components/global';
//@import '~foundation/scss/foundation/components/grid';

// Universal box model
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}
